script(type="module" src="../bag-GUI.js")

div
    button#pokeball.button(onclick="e()") Pokeball (#{bagAlert.pokeballs})
div
    button#greatball.button(onclick="e()") Greatball (#{bagAlert.greatballs})
div
<<<<<<< HEAD
    button#ultraball.button(onclick="") Ultraball (#{bagAlert.ultraballs})
div
    button#masterball.button(onclick="") Masterball (#{bagAlert.masterballs})
div
    button#regRevive.button(onclick="") Revive (#{bagAlert.regRevive})
div
    button#maxRevive.button(onclick="") Max Revive (#{bagAlert.maxRevive})
div
    button#potion.button(onclick="") Potion (#{bagAlert.potion}) 
=======
    button#ultraball.button(onclick="e()") Ultraball (#{bagAlert.ultraballs})
div 
    button#masterball.button(onclick="e()") Masterball (#{bagAlert.masterballs})
div 
    button#regRevive.button(onclick="e()") Revive (#{bagAlert.regRevive})
div 
    button#maxRevive.button(onclick="e()") Max Revive (#{bagAlert.maxRevive})
div 
    button#potion.button(onclick="e()") Potion (#{bagAlert.potion}) 
>>>>>>> 33c51256a343349c11665a3ff04e8baa4aa341ea
div
    button#superPotion.button(onclick="e()") Super Potion (#{bagAlert.superPotion})
div
    button#hyperPotion.button(onclick="e()") Hyper Potion (#{bagAlert.hyperPotion})
div
<<<<<<< HEAD
    button#maxPotion.button(onclick="") Max Potion (#{bagAlert.maxPotion})
=======
    button#maxPotion.button(onclick="e()") Max Potion (#{bagAlert.maxPotion}) 
>>>>>>> 33c51256a343349c11665a3ff04e8baa4aa341ea
