div
    button#pokeball.button(onclick="") Pokeball (#{bagAlert.pokeballs})
div
    button#greatball.button(onclick="") Greatball (#{bagAlert.greatballs})
div
    button#ultraball.button(onclick="") Ultraball (#{bagAlert.ultraballs})
div 
    button#masterball.button(onclick="") Masterball (#{bagAlert.masterballs})
div 
    button#regRevive.button(onclick="") Revive (#{bagAlert.regRevive})
div 
    button#maxRevive.button(onclick="") Max Revive (#{bagAlert.maxRevive})
div 
    button#potion.button(onclick="") Potion (#{bagAlert.potion}) 
div
    button#superPotion.button(onclick="") Super Potion (#{bagAlert.superPotion})
div
    button#hyperPotion.button(onclick="") Hyper Potion (#{bagAlert.hyperPotion})
div
    button#maxPotion.button(onclick="") Max Potion (#{bagAlert.maxPotion}) 