doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/base.css")
        script(type="text/javascript").
            let user = !{JSON.stringify(user)}
            let enemy = !{JSON.stringify(enemyPokemon)}
        script(type="module" src="../battle.js")
        title Battle
    body
        div#content
            div#battleArea
                div#enemyHealth
                    div#enemyHealthBarContainer.healthBarContainer
                        div#enemyHealthBar.healthBar
                    p #{enemyPokemon.name}
                div#playerHealth
                    p 
                        | #{userPokemon.name} 
                        span#currentNumPlayerHealth #{userPokemon.currentStats.health}
                        | /
                        span#maxNumPlayerHealth #{userPokemon.currentStats.maxHealth}
                    div#playerHealthBarContainer.healthBarContainer
                        div#playerHealthBar.healthBar 
                img#p1(src = "../assets/sprites/" + userPokemon.backImg alt="user pokemon")
                img#p2(src="../assets/sprites/" + enemyPokemon.frontImg alt="enemy pokemon")
            div#battleOptions
                p#storyText What will #{userPokemon.name} do?
                div#battleOptionsGrid
                    button Fight
                    button Bag
                    button Pokémon
                    button Run
                    button#back.hidden Back